[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"
django-rest-auth = "*"
coreapi = "*"
pyyaml = "*"
django-rest-swagger = "*"
pipfile = "*"

[requires]
python_version = "3.5"
